@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .zoom-in {
    @apply animate-[zoom-in_0.3s_ease-in-out_forwards];
  }