@font-face {
  font-family: "Days One";
  src: url("./DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amaranth-Bold";
  src: url("./Amaranth-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amaranth-Regular";
  src: url("./Amaranth-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
